
<form id="form" name="form" action="/deposit">
    <h1>{{title}}</h1>

    <p>Bem vindo to Internet Banking</p>

    <h3>Seu saldo: <span id="spanBalance">{{accountBalance}}</span></h3>

    <div>
        <input type="number" id="vlmovimento" name="vlmovimento" />
        <button type="button" onclick="deposit($(this))">Fazer depósito</button>
        <button type="button" onclick="saque($(this))">Fazer saque</button>
    </div>
</form>

<script>
    function deposit (button) {
        var depositValue = document.getElementById("vlmovimento").value;

        if (!depositValue || depositValue < 0) {
            alert("O valor de depóstio deve ser maior que zero");
            return false;
        }

        $.ajax({
            url: '/deposit',
            type: 'GET',
            data: jQuery($('#form')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#vlmovimento").val("");
                $("#spanBalance").text(data.newAccountBallance); 
                alert(data.message);
            },
            error: function (data) {
                $("#vlmovimento").val("");
                alert(data);
            }
        })
    }

    function saque (button) {
        var saqueValue = document.getElementById("vlmovimento").value;

        if (!saqueValue || saqueValue < 0) {
            alert("O valor de saque deve ser maior que zero");
            return false;
        }

        $.ajax({
            url: '/saque',
            type: 'GET',
            data: jQuery($('#form')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#vlmovimento").val("");
                $("#spanBalance").text(data.newAccountBallance); 
                alert(data.message);
            },
            error: function (data) {
                $("#vlmovimento").val("");
                alert(data);
            }
        })
    }

</script>