<h1>Bem vindo to Internet Banking</h1>
<div id="Pessoas">
    <table id="pes" class="table">
    </table>

</div>
<div class="row">
    <div class="col-sm">
        <h2>Cadastrar Pessoa:</h2>
        <input type="hidden" value="{{pesso}}" name="pesso" id="pesso" />
        <form id="form3" name="form3" action="/cadPessoa">
            <div class="form-group">
                <label>Nome:</label>
                <input type="text" id="nome" name="nome" />
            </div>
            <div class="form-group">
                <label>Saldo:</label>
                <input type="number" id="saldo" name="saldo" />
            </div>
            <div class="form-group">
                <label>CPF:</label>
                <input type="number" id="CPF" name="CPF" />
            </div>

            <button type="button" onclick="cadastro($(this))" class="btn btn-primary mb-2 bot">Cadastrar</button>
        </form>
    </div>
    <div class="col-sm">
        <h2>Deposito Aqui:</h2>
        <form id="form" name="form" action="/deposit">
            <div class="form-group">
                <label>ID PESSOA:</label>
                <input type="number" id="valor" name="valor" />
            </div>
            <div class="form-group">
                <label>Valor:</label>
                <input type="number" id="depositValue" name="depositValue" />
            </div>
            <button type="button" onclick="deposit2($(this))" class="btn btn-primary mb-2 bot">Fazer depósito</button>

        </form>
    </div>
    <div class="col-sm">
        <h2>Saque Aqui:</h2>
        <form id="form2" name="form2" action="/saque">
            <div class="form-group">
                <label>ID PESSOA:</label>
                <input type="number" id="valors" name="valors" />
            </div>
            <div class="form-group">
                <label>Valor:</label>
                <input type="number" id="SaqueValue" name="SaqueValue" />
            </div>
            <button type="button" onclick="saque2($(this))" class="btn btn-primary mb-2 bot">Saque depósito</button>
        </form>
    </div>
</div>
<script>
    let saldo = 0;
    let ids = [];
    let Pessoas = [];
    $.ajax({
        url: '/pessoas',
        type: 'GET',
        async: false,
        success: function (data) {
            let count = 1;
            if (ids.length != 0)
                count = 0
            Pessoas = data.pessoas;
            if (typeof Pessoas !== 'undefined' && Pessoas.length > 0) {
                $("#pes").html("<tr>"
                    + "<th scope='col'>ID:</th>"
                    + "<th scope='col'>Nome:</th>"
                    + "<th scope='col'>Saldo:</th>"
                    + "<th scope='col'>CPF:</th></tr>");
                for (i = 0; i < Pessoas.length; i += 1) {
                    $("#pes").append("<tr>"
                        + "<td scope='row'>" + Pessoas[i].id + "</td>"
                        + "<td>" + Pessoas[i].nome + "</td>"
                        + "<td>"
                        + Pessoas[i].saldo + "</td>"
                        + "<td>" + Pessoas[i].CPF + "</td></tr>");
                    if (count)
                        ids.push(Pessoas[i].id);
                }
            }
            else
                $("#pes").html("<h3>Nenhuma Pessoa Cadastrada!</h3>");
        }
    });
    $.ajax({
        url: '/saldo',
        type: 'GET',
        contentType: false,
        processData: false,
        success: function (data) {
            saldo = data.Ballance;
        }
    });
    function getSaldo(id) {
        let valor = 0;
        $.ajax({
            url: '/saldonovo',
            type: 'GET',
            async: false,
            data: {
                id: id
            },
            success: function (data) {
                valor = data.Ballance;
            }
        });
        return valor;
    }
    function cadastro(button) {
        $.ajax({
            url: '/cadPessoa',
            type: 'GET',
            data: jQuery($('#form3')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                if (ids.length == 0) {
                    $("#pes").html("<tr>"
                        + "<th scope='col'>ID:</th>"
                        + "<th scope='col'>Nome:</th>"
                        + "<th scope='col'>Saldo:</th>"
                        + "<th scope='col'>CPF:</th></tr>");
                }
                var P = data.pessoa;
                $("#pes").append("<tr>"
                    + "<td scope='row'>" + P.id + "</td>"
                    + "<td>" + P.nome + "</td>"
                    + "<td>"
                    + P.saldo + "</td>"
                    + "<td>" + P.CPF + "</td></tr>");
                ids.push(P.id);
                document.getElementById("form3").reset();
            },
            error: function (data) {

                alert(data);
            }
        })
    }
    function saque(button) {
        var SaqueValue = document.getElementById("SaqueValue").value;
        if (saldo < SaqueValue) {
            alert("voce não possui valor para o saque");
            return false;
        }
        $.ajax({
            url: '/saque',
            type: 'GET',
            data: jQuery($('#form2')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#SaqueValue").val("");
                $("#spanBalance").text(data.newAccountBallance);
                alert(data.message);
            },
            error: function (data) {
                $("#SaqueValue").val("");
                alert(data);
            }
        })
    }

    function saque2(button) {
        var idPessoa = document.getElementById("valors").value;
        var SaqueValue = document.getElementById("SaqueValue").value;
        if (ids.indexOf(parseInt(idPessoa)) == -1) {
            alert("Id de Usuário não existe");
            document.getElementById("form2").reset();
            return false;
        }
        var s = getSaldo(idPessoa);
        console.log(s);
        if (s < SaqueValue) {
            alert("voce não possui valor para o saque");
            document.getElementById("form2").reset();
            return false;
        }
        $.ajax({
            url: '/saqueValor',
            type: 'GET',
            data: jQuery($('#form2')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#pes").html(" <tr>"
                    + "<th scope='col'>ID:</th>"
                    + "<th scope='col'>Nome:</th>"
                    + "<th scope='col'>Saldo:</th>"
                    + "<th scope='col'>CPF:</th>"
                    + "</tr>");
                var P = data.pessoa;
                for (var i = 0; i < P.length; i++) {
                    $("#pes").append("<tr>"
                        + "<th scope='row'>" + P[i].id + "</th>"
                        + "<td>" + P[i].nome + "</td>"
                        + "<td>"
                        + P[i].saldo + "</td>"
                        + "<td>" + P[i].CPF + "</td></tr>");
                }
                document.getElementById("form2").reset();
                alert(data.message);
            },
            error: function (data) {
                $("#SaqueValue").val("");
                alert(data);
            }
        })
    }
    function deposit2(button) {
        var idPessoa = document.getElementById("valor").value;
        var depositValue = document.getElementById("depositValue").value;
        if (!depositValue || depositValue < 0) {
            alert("O valor de depóstio deve ser maior que zero");
            document.getElementById("form").reset();
            return false;
        }
        if (ids.indexOf(parseInt(idPessoa)) == -1) {
            document.getElementById("form").reset();
            alert("Id de Usuário não existe");
            return false;
        }
        $.ajax({
            url: '/depositValor',
            type: 'GET',
            data: jQuery($('#form')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#pes").html(" <tr>"
                    + "<th scope='col'>ID:</th>"
                    + "<th scope='col'>Nome:</th>"
                    + "<th scope='col'>Saldo:</th>"
                    + "<th scope='col'>CPF:</th>"
                    + "</tr>");
                var P = data.pessoa;
                for (var i = 0; i < P.length; i++) {
                    $("#pes").append("<tr>"
                        + "<th scope='row'>" + P[i].id + "</th>"
                        + "<td>" + P[i].nome + "</td>"
                        + "<td>"
                        + P[i].saldo + "</td>"
                        + "<td>" + P[i].CPF + "</td></tr>");
                }
                document.getElementById("form").reset();
                alert(data.message);
            },
            error: function (data) {
                $("#depositValue").val("");
                alert(data);
            }
        })
    }
    function deposit(button) {

        var depositValue = document.getElementById("depositValue").value;

        if (!depositValue || depositValue < 0) {
            alert("O valor de depóstio deve ser maior que zero");
            return false;
        }

        $.ajax({
            url: '/deposit',
            type: 'GET',
            data: jQuery($('#form')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#depositValue").val("");
                $("#spanBalance").text(data.newAccountBallance);
                alert(data.message);
            },
            error: function (data) {
                $("#depositValue").val("");
                alert(data);
            }
        })
    }
</script>