 <h1>{{title}}</h1>

    <p>Bem vindo to Internet Banking</p>

    <h3>Seu saldo: <span id="spanBalance">{{accountBalance}}</span></h3>

<form id="form" name="form" action="/deposit">
    <input type="number" id="depositValue" name="depositValue" />
    <button type="button" onclick="deposit($(this))">Fazer dep처sito</button>

</form>
<form id="form2" name="form2" action="/saque">

     <input type="number" id="SaqueValue" name="SaqueValue" />
    <button type="button" onclick="saque($(this))">Saque dep처sito</button>
</form>

<script>
    let saldo =0;
     $.ajax({
            url: '/saldo',
            type: 'GET',
            contentType: false,
            processData: false,
            success: function (data) {
                saldo = data.Ballance;
            }});

     function saque (button) {
        var SaqueValue = document.getElementById("SaqueValue").value;

        if ( saldo < SaqueValue ) {
            alert("voce n찾o possui valor para o saque");
            return false;
        }
        $.ajax({
            url: '/saque',
            type: 'GET',
            data: jQuery($('#form2')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#SaqueValue").val("");
                $("#spanBalance").text(data.newAccountBallance); 
                alert(data.message);
            },
            error: function (data) {
                $("#SaqueValue").val("");
                alert(data);
            }
        })
    }
    function deposit (button) {
        var depositValue = document.getElementById("depositValue").value;

        if (!depositValue || depositValue < 0) {
            alert("O valor de dep처stio deve ser maior que zero");
            return false;
        }

        $.ajax({
            url: '/deposit',
            type: 'GET',
            data: jQuery($('#form')).serialize(),
            contentType: false,
            processData: false,
            success: function (data) {
                $("#depositValue").val("");
                $("#spanBalance").text(data.newAccountBallance); 
                alert(data.message);
            },
            error: function (data) {
                $("#depositValue").val("");
                alert(data);
            }
        })
    }
</script>